.codegnan {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
}

.java {
    width: 30%;
    height: 100%;
    background-color: #de8d8d;
}

.python {
    width: 70%;
    height: 100%;
    background-color: #1425e9;
}

.java-1 {
    width: 100%;
    height: 20%;
    background-color: #e91430;
}

.java-2 {
    width: 100%;

    height: 20%;
    background-color: #d714e9;
}

.java-3 {
    width: 100%;
    height: 20%;
    background-color: #e9a914;
}

.java-4 {
    width: 100%;
    height: 40%;
    background-color: #e93b14;
}